.section-info {
  padding: 123px 230px 89px;
  background-color: #ffffff;
  display: flex;
  gap: 64px;
  .announced {
    min-width: 427px;
    &__brand {
      display: flex;
      align-items: center;
      gap: 13px;
      img {
        width: 59px;
        height: 51px;
      }
      &-text {
        font-family: Lato, sans-serif;
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;
        span {
          font-family: Lato, sans-serif;
          font-size: 27px;
          line-height: 32px;
          text-transform: uppercase;
          letter-spacing: 0.025em;
          font-weight: 900;
          color: #f16d7f;
        }
      }
    }
    &__text {
      font-family: Lato;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #898989;
      padding-top: 29px;
    }
  }
  &__type {
    display: flex;
    &-list {
      h3 {
        font-family: Lato;
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #f16d7f;
        padding-right: 129px;
        padding-bottom: 42px;
        white-space: nowrap;
      }
      li {
        font-family: Lato;
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #898989;
        list-style-type: none;
      }
    }
  }
}
