.section-subscribe {
  height: 438px;
  background-image: url(./images/foto/fonTwo.png);
  background-size: cover;
  display: flex;
  align-items: center;
  padding-inline: 230px;
  .greetings {
    width: 50%;
    display: flex;
    gap: 28px;
    padding-right: 72px;
    img {
      width: 83px;
      height: 83px;
    }
    &__text {
      &__main-text {
        font-family: Lato;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 0.025em;
        color: #222224;
      }
      &__name {
        font-family: Lato;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #f16d7f;
        padding-top: 19px;
      }
      &__address {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        color: #222224;
        padding-bottom: 41px;
      }
      &__rectangles {
        display: flex;
        gap: 13px;
        .rect {
          width: 38px;
          height: 4px;
          background-color: #d6d6d6;
        }
        .red {
          background-color: #f16d7f;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .input-email {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    &__text {
      text-align: center;
      h3 {
        font-family: Lato;
        font-size: 24px;
        line-height: 54px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222224;
      }
      p {
        font-family: Lato;
        font-size: 14px;
        font-weight: 600;
        text-transform: none;
      }
    }
    &__input {
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      .email {
        height: 100%;
        border-radius: 23px 0px 0px 23px;
        width: 256px;
        background-color: #e1e1e1;
        border: none;
        &::placeholder {
          opacity: 0.67;
          font-family: Lato;
          font-size: 14px;
          line-height: 54px;
          font-weight: 600;
          letter-spacing: 0.025em;
          color: #222224;
          padding-left: 22px;
        }
      }
      .subscribe-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 0px 23px 23px 0px;
        width: 100px;
        font-family: Lato;
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        border: none;
        background-color: #f16d7f;
        &:hover {
          color: #f16d7f;
          background-color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}
